<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "static/styles.css">

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <title>Covid19 Data</title>

    </head>

    <body class=body>

        <main>
            {% block main %}
            {% endblock %}
        </main>
        
    </body>

</html>